<a href="https://colab.research.google.com/github/Meferal/ONLINE_DS_THEBRIDGE_ALVARO_MEDINA_FERNANDEZ/blob/main/Parte_3_P%C3%ADldora_9_Jupyter_DS_01_01_02_N05_V09.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img src = "./img/TheBridge_logo_RGB_color.jpg" width = 500>
<img src = "./img/python.jpg" width = 500>

# Python Basics I

# Contenidos

* [Operaciones aritméticas
](#Operaciones-aritméticas
)

* [Operaciones comparativas
](#Operaciones-comparativas
)

## Operaciones aritméticas
[al indice](#Contenidos)  

Hace un par de sesiones ya vimos por encima las principales operaciones aritméticas en Python. Las recordamos:
* Sumar: `+`
* Restar: `-`
* Multiplicar: `*`
* Dividir: `/`
* Elevar: `**`
* Cociente division: `//`
* Resto de la división: `%`

In [1]:
# Declarar y asignar una variable entera
# Declarar y asignar una variable real o float
# Sumar las variables y mostrar el resultado
# Mostrar de qué tipo es el resultado
# Multiplicar ambas variables y mostrar el resultado
# Elevar una a la otr
# Dividir una por otra y mostrar además el resto y el cociente

In [3]:
entero = 5
real = 12.34
sumar_vars = entero + real
print(sumar_vars)
print(type(sumar_vars))
multiplicar_vars = entero * real
print(multiplicar_vars, type(multiplicar_vars))
elevar_vars = entero ** real
print(elevar_vars, type(elevar_vars))
dividir_vars = entero / real
print(dividir_vars, type(dividir_vars))
cociente = entero // real
print(cociente, type(cociente))
resto = entero % real
print(resto, type(resto))

17.34
<class 'float'>
61.7 <class 'float'>
421978042.82945716 <class 'float'>
0.4051863857374392 <class 'float'>
0.0 <class 'float'>
5.0 <class 'float'>

### Propiedad conmutativa, asociativa, distributiva y el paréntesis
Si queremos concatenar varias operaciones, ten siempre en cuenta las propiedades matemáticas de la multiplicación

In [2]:
print("Conmutativa")
print(2 * 3)
print(3 * 2)

print("\nAsociativa") # Recuerda que "\n" se usa para que haya un salto de linea en el output.
print((3 * 2) * 5)
print(3 * (2 * 5))

print("\nDistributiva")
print(2 * (3 + 5))
print(2 * 3 + 2 * 5)

print("\nEl Orden de operaciones se mantiene. Siempre podemos usar paréntesis")
print(2 * (2 + 3) * 5)
print((2 * 2 + 3 * 5)/(4 + 7))

Conmutativa
6
6

Asociativa
30
30

Distributiva
16
16

El Orden de operaciones se mantiene. Siempre podemos usar paréntesis
50
1.7272727272727273

### Operaciones más complejas
Si salimos de las operaciones básicas de Python, tendremos que importar módulos con más funcionalidades en nuestro código. Esto lo haremos mediante la sentencia `import math`. `math` es un módulo con funciones ya predefinidas, que no vienen por defecto en el núcleo de Python. De esta forma será posible hacer cálculos más complejos como:

* Raíz cuadrada
* Seno/Coseno
* Valor absoluto
*...

El módulo es completísimo y si estás buscando alguna operación matemática, lo más seguro es que ya esté implementada. Te dejo por aquí el [link a la documentación del módulo.](https://docs.python.org/3/library/math.html).

In [4]:
import math
print(math.sqrt(25))
print(math.cos(0))
print(math.fabs(-123.45)) # abs

5.0
1.0
123.45

Como en todos los lenguajes de programación, suele haber una serie de componentes básicos (variables, operaciones aritméticas, tipos de datos...) con los que podemos hacer muchas cosas. Ahora bien, si queremos ampliar esas funcionalidades, se suelen importar nuevos módulos, con funciones ya hechas de otros usuarios, como en el caso del módulo `math`. Veremos esto de los módulos más adelante.

<table align="left">
 <tr><td width="80"><img src="./img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES Dividir por cero</h3>
         
 </td></tr>
</table>

Cuidado cuando operamos con 0s. Las indeterminaciones y valores infinitos suponen errores en el código. Por suerte, la descripción de estos errores es bastante explícita, obteniendo un error de tipo `ZeroDivisionError`

In [5]:
4/0

ZeroDivisionError: division by zero

In [ ]:
variable_a/variable_b

In [ ]:
# Hay valores que se salen del dominio de algunas funciones matemáticas,
# como es el caso de las raices de números negativos

In [6]:
math.sqrt(-12)

ValueError: math domain error

## Operaciones comparativas
[al indice](#Contenidos)  

Es bastante intuitivo comparar valores en Python. La sintaxis es la siguiente:
* `==`: Igualdad. No es un `=`. Hay que diferenciar entre una comparativa, y una asignación de valores
* `!=`: Desigualdad
* `>`: Mayor que
* `<`: Menor que
* `>=`: Mayor o igual que
* `<=`: Menor o igual que

En la asignación estamos diciendole a Python que la variable `asign` vale 1, mientras que en la comparación, estamos preguntando a Python si `a` equivale a 5. Como vale 1, nos devuelve un `False`

In [8]:
# asignación
asign = 1

# comparación
print(asign == 5)
print(asign)

False
1

Veamos otros ejemplos de comparaciones

In [9]:
print("AAA" == "BBB")
print("AAA" == "AAA")
print(93 > 12)
print(1 == 1.0)
print(93 <= 12)

False
True
True
True
False

<table align="left">
 <tr><td width="80"><img src="./img/error.png" style="width:auto;height:auto"></td>
     <td style="text-align:left">
         <h3>ERRORES en comparativas</h3>
         
 </td></tr>
</table>

Este tipo de errores son muy comunes, pues es muy habitual comparar peras con manzanas. Cuando se trata de una igualdad (`==`), no suele haber problemas, ya que si las variables son de distinto tipo, simplemente es `False`. Lo ideal sería que Python nos avisase de estas cosas porque realmente lo estamos haciendo mal, no estamos comparando cosas del mismo tipo

In [11]:
print(1 == "1")
print("Hola" == True)

False
False

In [ ]:
# Obtenemos un TypeError cuando la comparativa es de > o <

In [12]:
print("17" > 23)

TypeError: '>' not supported between instances of 'str' and 'int'